@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,300;1,500;1,600&display=swap');

:root{
    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border:.3rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow: auto;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;

}

body{
    height: 100%;
    width: 100%;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
} 

html::-webkit-scrollbar-thumb{
    background:var(--black);
}


#Home{
    height: 100vh;
    width: 100vw;
    position:relative;
}

.header .header-1{
    background:#fff;
    padding: 0.5rem 5%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    position: fixed;
    top: 0%;
    z-index: 10;
    
}

.header .header-1 .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .logo i{
    color: var(--green);
    padding-right: .5rem;
}

.header .header-1 .tabs {
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    text-align: center;
}

.header .header-1 .tabs a{
    color: var(--black);
    display: inline-block;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 17px;
    font-family: Verdana;
}

.header .header-1 .tab {
    color: var(--black);
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 17px;
    font-family: Verdana;
    position:relative;
    cursor: pointer;
    background-color: #fff;

}

.header .header-1 .tab:hover{
    color: red;
}

.header .header-1 .tabs a:hover{
    color: var(--green);
    background: rgba(243, 243, 243, 0.826);
}

.header .header-1 .search-form{
    width: 35rem;
    height: 4.5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
    position: relative;   
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding:0 1.2rem;
    height:100%;
    width:100%;
    text-transform: capitalizes;
    color: (var(--black));
    box-shadow: var(--box-shadow);
}

.header .header-1 .search-form label{
    font-size: 1.6rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover{
    color:var(--green);
}

#search-btn{
    font-size: 1.6rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
    display: none;
}

#search-btn:hover{
    color: var(--green);
}

.Login-form, .signup-form{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,.9);
    position: fixed;
    top: 0%; right:-105%;
    z-index: 10000;
    height: 100%;
    width: 100%;
}
.active{
    right:0%;
}

.Login-form form, .signup-form form{
    background-color: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    /* margin: 20rem; */
    border-radius: .5rem;
}

.Login-form form h3, .signup-form form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
}

.Login-form form span, .signup-form form span{
    display: block;
    padding-top: 1rem;
    font-size: 1.5rem;
}

.Login-form form .box, .signup-form form .box{
    margin:.7rem 0rem;
    font-size: 1.5rem;
    border: var(--border);
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    color:var(--black);
    text-transform: none;
    width: 100%;
}

.Login-form form .checkbox, .signup-form form .checkbox{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
}

.Login-form form .checkbox label, .signup-form form .checkbox label{
    font-size: 1.5rem;
    color: var(--light-color);
    cursor: pointer;
}

.btn{
    background-color: var(--green);
    color: #fff;
    font-size: 1.7rem;
    display: inline-block;
    border-radius: .5rem;
    padding: .9rem 3rem;
    cursor:pointer;
    font-weight: 500;
    text-align: center;
    width:100%;
}

.btn:hover{
    background: var(--dark-color);
}

.Login-form form p, .signup-form form p{
    padding-top: .8rem;
    color: var(--light-color);
    font-size: 1.5rem;
}

.Login-form form p a, .signup-form form p a{
    text-decoration: underline;
    color: var(--green);
}

.Login-form #close-login-btn, .signup-form #close-signup-btn{
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 2.5rem;
    color: var(--black);
    cursor: pointer;
}

.Login-form #close-login-btn:hover, .signup-form #close-signup-btn:hover{
    color:red;
}

#Home>img{
    float: inline-end;
    right: 5%;
    height: 70%;
    top:24%;
    position: relative;

}

#Home>#bottom{
    top: 80%;
    left: 5%;
    font-size: 1.7rem;
    font-family:Verdana;
    position: absolute;
    text-transform: none;
    color: var(--black);
}

#About{
    height: 100vh;
    width: 100vw;
    position: relative;
}

#Books{
    height: 100vh;
    width: 100vw;
    position: relative;
}

#About>h1{
    text-align: left;
    font-size: 50px;
    margin-left: 10%;
    padding-top: 3%;
    color: var(--dark-color);
    
}
#About>img{
    height: 55%;
    right: 5%;
    float: inline-end;
    position: relative;

}

#About>p{
    margin: 5%;
    margin-right: 50%;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    width: 50%;
}

#Contacts{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #cde9d8;
}

.newsletter{
    background-color: var(--dark-color);
    padding: 4%;
    color:#fff;
    font-size: 30px;
    height: 50%;
    width: 90%;
    text-align: center;
    margin: auto ;
}

#mails{
    width: 70%;
    padding: 2%;
    margin-top: 50px;
    border-radius: 5px;
    text-transform: none;
    font-size: 15px;
    margin-right: 1.5%;
    color: var(--black);
}

.sub-btn{
    width: 20%;
    padding: 1.4%;
    color: white;
    background-color: rgb(119, 51, 119);
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.sub-btn:hover{
    scale: 115%;
}

.links{
    align-items: center;
    margin: 6%;
    margin-top: 1%;
    display: flex;
    
}

.logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
    cursor: pointer;
}

.logo i{
    color: var(--green);
    padding-right: .5rem;
}

.logo>p{
    color: var(--light-color);
    font-size: 17px;
    text-transform: none;
    margin-top: 1%;
    width:40%;
}

th, td{
    font-size: 18px;
    width:100x; 
    height: 40px;  
    text-align: center;   
}

.links>table{
    width: 750px;
}

i{
    font-size: 25px;
    cursor: pointer;
}

i:hover{
    scale: 1.15;
}









@media screen and (max-width: 991px){

    html{
        font-size: 55%;
    }

    .header .header-1{
        padding: 2rem;
    }
}

@media(max-width: 768px){

    .header .header-1 .search-form{
        position: absolute;
        top:-105%; right:2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active{
        top:115%;
       
    }

    #search-btn{
        display: inline-block;
    }

    #Home>img{
        right:5%;
        height: 70%;
        top:25%;
        align-items: center;
        position: relative;
    
    }

}

@media(max-width: 450px){

    html{
        font-size: 50%;
    }

    .header .header-1{
        padding: 2rem;
    }

    #Home > img {
        height: 60%;
        top: 20%;
    }
}