@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,300;1,500;1,600&display=swap');

:root{
    --dash-color:#cde9d8;
    /* --green:#27ae60; */
    --body-color: white;
    --icon-color:#27ae60;
    --text-color: #444;
    --hover: white;
    --black:#444;
    --light-color:#666;
    --border:.3rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --trans-03: all 0.5s ease;
}


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;
    background-color: var(--body-color);
    scroll-behavior: smooth;
    transition: var(--trans-03);    
    color: var(--text-color);
}

body.dark{
    --dash-color:#308D46;
    --body-color: #212123;
    --icon-color:#252627;
    --text-color: white;
    --hover: #131417;
    --black:#444;
    --light-color:#666;
    --border:.3rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(45, 42, 42, 0.1);
    --trans-03: all 0.3s ease;
    
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
} 

html::-webkit-scrollbar-thumb{
    background:var(--black);
}

.head{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.dashboard{
    background-color:  var(--dash-color);
    color: var(--text-color);
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width: 20%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    float: left;
}

.dashboard.close{
    display: flex;
    justify-content: space-between;
    width:4%;
    overflow: hidden;    
}

.dashboard i{
    color: var(--icon-color);
    cursor: pointer;
}
.toggle{
    margin: 7%;
    font-size: 30px ;
}

.logo{
    font-size: 30px;
    font-weight: bolder;
    color: var(--text-color);
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dashboard.close .logo{
    color: var(--dash-color);
}

/* .logo .toggle{
    margin-left: 20%;
} */
.logo i{
    color: var(--icon-color);
    align-content: center;
}

.page{
    display: flex;
    flex-direction: column;
    float: right;
}
.header{
    background-color: var(--body-color);
    position: absolute;
    width: 100%;
    text-align: center;
    height: 20%;    
    /* margin-left: 15%; */
    transition: var(--trans-03);
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* box-shadow: var(--box-shadow); */
}

.header>h4{
    text-align: right;
}

.header.shift{
    margin-left: 0%;
}

.main{
    transition: var(--trans-03);
    color: var(--text-color);
    display: inline-block;
}

.main.shift{
    margin-left: 10%;
}

.search-box{
    width: 50%;
    margin: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
}

#search{
    margin-left: 1.5%;
    width:100%;
    height: 35px;
    font-size: 15px;
    border: none;
    color: var(--text-color);
    background-color: var(--body-color);
}

.search-box label{
    color: var(--text-color);
}

.menu>li{
    font-size: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 7%;
}

.menu>li:hover{
    background-color: var(--hover);
}

.menu a{
    font-family:'Times New Roman';
    text-decoration: none;
    color: var(--text-color);
}

.dashboard.close .menu a{
    color: var(--dash-color);
}

.privacy{
    font-size: 20px;
    padding-bottom: 10%;
}

.privacy a, .mode-text{
    font-family:'Times New Roman';
    text-decoration: none;
    color: var(--text-color);    
}

.dashboard.close .privacy a, .dashboard.close .mode-text{
    color: var(--dash-color);
    
}

.privacy>li{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 20%;
}

.privacy .mode{
    display: flex;
}

.dashboard.close i{
    padding-left: 20%;
   
}

.privacy .mode i{
    position:absolute;
}

.privacy .mode i.sun{
    opacity: 0;
}

body.dark .privacy .mode i.sun{
    opacity: 1;
}

body.dark .privacy .mode i.moon{
    opacity: 0;
}

.mode-text{
    padding-left: 12%;
    
}

.privacy .mode .toggle-switch{
    height: 100%;
    min-width: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--body-color);
}

.switch::before{
    content: '';
    position: absolute;
    background: var(--text-color);
    border-radius: 50%;
    height: 15px;
    width: 15px;
    top: 50%;
    left:5px;
    transform: translateY(-50%);
    cursor: pointer;  
    transition: var(--trans-03);  
}

body.dark .switch::before{
    left: 24px;
}

